* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    @media screen and (max-width: 700px) {
        background: linear-gradient(hsl(0, 0%, 19%), black);
        height: 10vh;
        width: 100vw;
        display: flex;
        align-items: center;

        .menu {
            border: none;
            background: none;
            margin-left: 10px;
            z-index: 99;

            .bloc {
                border-radius: 10px;
                background-color: white;
                margin-top: 2px;
                margin-bottom: 5px;
                height: 5px;
                width: 35px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
            .one {
                display: none;
            }
            .two {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                background-color: rgb(230, 70, 70);
                transition: ease-out 0.6s;
                -webkit-transition: ease-out 0.6s;
                -moz-transition: ease-out 0.6s;
                -ms-transition: ease-out 0.6s;
                -o-transition: ease-out 0.6s;
            }
            .three {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                position: absolute;
                top: 27px;
                background-color: rgb(230, 70, 70);
                transition: ease-out 0.6s;
                -webkit-transition: ease-out 0.6s;
                -moz-transition: ease-out 0.6s;
                -ms-transition: ease-out 0.6s;
                -o-transition: ease-out 0.6s;
            }
        }
    }
}

.main {
    @media screen and (max-width: 700px) {
        .container {
            z-index: 98;
            position: absolute;
            top: 0;
            width: 40vw;
            height: 100vh;
            background: linear-gradient(rgb(216, 214, 214), rgb(148, 148, 148));
        }
        .hide {
            left: -40vw;
            transition: ease-out 0.5s;
        }
        .display {
            left: 0;
            transition: ease-out 0.5s;
        }
    }
}

.contact {
    img {
        width: 100px;
        height: auto;
    }
    @media screen and (max-width: 700px) {
        .contactFlex {
            background-color: #48cae4;
            .containImg {
                padding-top: 1rem;
                padding-left: 1rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                align-items: center;
                gap: 2rem;
                img {
                    border: 3px solid rgb(255, 255, 255);
                    object-fit: cover;
                    object-position: 0px -30px;
                    height: 80px;
                    width: 80px;
                    border-radius: inherit;
                    -webkit-border-radius: inherit;
                    -moz-border-radius: inherit;
                    -ms-border-radius: inherit;
                    -o-border-radius: inherit;
                }
            }
        }
        .containContact {
            display: flex;
            flex-direction: column;
            align-items: justify;
        }
        .hide {
            display: none;
        }
        .justify {
            display: flex;
            gap: 1rem;
            position: relative;
            left: 15%;
            margin-top: 1rem;

            .fa-solid {
                font-size: 1.5rem;
                color: rgb(43, 43, 43);
            }
        }
    }
}

.flow {
    overflow-x: hidden;
}
